<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Hearthstone Recall - Memorize all the cards in the game with ease</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, height=550, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/angular-carousel/dist/angular-carousel.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css({.tmp,app}) styles/main.css -->
  <link rel="stylesheet" href="styles/angular-carousel.min.css">
  <link rel="stylesheet" href="styles/main.css">

  <!-- endbuild -->
</head>
<body ng-app="hearthstoneApp">
  <div class="container " ng-controller="MainCtrl">
    <div class="row">
      <header class="col-xs-12 text-center">
        <h1>Hearthstone Recall</h1>
      </header>
      <div class="col-xs-12 text-center filter-container">
        <fieldset class="filter-box">
          <label for="cardClass">Class</label>
          <select name="cardClass" id="cardClass" ng-model="activeFilter.class" ng-change="changeFilter()"
                  ng-options="item for item in classes"></select>
          <label for="cardType">Type</label>
          <select name="cardType" id="cardType" ng-model="activeFilter.type" ng-change="changeFilter()"
                  ng-options="item for item in types"></select>
          <label for="cardRarity">Rarity</label>
          <select name="cardRarity" id="cardRarity" ng-model="activeFilter.rarity" ng-change="changeFilter()"
                  ng-options="item for item in rarities"></select>
          <label for="cardCategory">Category</label>
          <select name="cardCategory" id="cardCategory" ng-model="activeFilter.category" ng-change="changeFilter()"
                  ng-options="item for item in categories"></select>
        </fieldset>
      </div>
      <div class="col-xs-12 text-center" id="main-view">
        <div class="card-area-container">
          <ul rn-carousel rn-carousel-buffered rn-carousel-control
          class="my-slider rn-carousel-slides flip-container"
          >
            <li
            ng-repeat="card in cards"
            ng-click="card.active = !card.active">
              <div class="card" ng-class="{'flipped': (card.active)}">
                <div class="card-loading"
                ng-style="{'background-image': 'url(images/'+card.type+'-loading.png)'}"></div>
                <div class="card-back"
                ng-style="{'background-image': 'url(images/'+card.type+'.png)'}"></div>
                <div class="card-front-name"
                ng-style="{'background-image': 'url(images/cards/'+card.id+'.png)'}"></div>
                <div class="card-front"
                ng-style="{'background-image': 'url(images/cards/'+card.id+'.png)'}"></div>
              </div>
              <div class="card-player-class"
              ng-class="{'active': (card.active)}"
              ng-style="{'background-image': 'url(images/'+card.playerClass+'.png)'}">
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 text-center">
        <fieldset class="filter-box creators">
          Hearthstone Recall was created by Ben Raziel 
          <a href="https://twitter.com/benraziel" target="_blank">Twitter</a> 
          and Guy Biton
          <a href="https://twitter.com/guy_biton" target="_blank">Twitter</a>
        </fieldset>
      </div>
    </div>
  </div>
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-55196106-1', 'auto');
      ga('send', 'pageview');
    </script>
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-carousel/dist/angular-carousel.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/factory/factory.js"></script>
    <script src="scripts/angular-carousel/angular-carousel.js"></script>
    <script src="scripts/angular-carousel/directives/rn-carousel-auto-slide.js"></script>
    <script src="scripts/angular-carousel/directives/rn-carousel-controls.js"></script>
    <script src="scripts/angular-carousel/directives/rn-carousel-indicators.js"></script>
    <script src="scripts/angular-carousel/directives/rn-carousel.js"></script>
    <script src="scripts/angular-carousel/directives/sliceFilter.js"></script>
    <!-- endbuild -->
</body>
</html>
