<header class="col-md-6 col-md-offset-3">
  <h1>Hearthstone card Memorizer</h1>
</header>
<h4 class="col-md-6 col-md-offset-3">Your all new hearthstone powerfull friend, start memorizing today, get wins tomorrow.</h4>
<div class="flip-container col-md-6 col-md-offset-4">
  <div class="card">
    <div class="card-back"></div>
    <div class="card-front-name"
    ng-style="{'background-image': 'url(/images/{{currentCard.id}}.png)'}"></div>
    <div class="card-front"
    ng-style="{'background-image': 'url(/images/{{currentCard.id}}.png)'}"></div>
  </div>
</div>
